<div class="container">
<!-- ojo metodo y name y ngmodel y ngform -->
    <form (ngSubmit)="crearArea(formulario)" #formulario="ngForm" >
        <label >ID</label>
        <input type="text" class="form-control" name="id" [(ngModel)]="id">

        <label >Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">

        <label >Descripcion</label>
        <input type="text" class="form-control" name="descripcion" [(ngModel)]="descripcion">
        <br>
        <button class=" btn btn-primary" type="submit"> Guardar</button>


    </form>

</div>
